*{  /*把所有元素 margin padding 都先變成0 之後就不用再寫了*/
	margin: 0;
	padding: 0; 
	font-family: "微軟正黑體";
}
header{
/*	position: fixed; /*選單定在上面*/
	height: 75px;
	width: 100%;
	background: #555555BA;	
	z-index: 2;		
}
#menubox{
	display: flex;
	align-items: center;
	height: 75px;			
}
#logobox{  /*logo圖片&超連結*/
	display: flex;
	/*	float:left;*/
	align-items: center; /*垂直置中*/
	align-content: center; /*水平置中*/
	width: 170px;
	height: 75px;
	background: transparent; /*背景透明*/
}		
#hbox{  /*header區塊置中*/
	margin: 0 auto;
	display: flex;
	justify-content:space-between;
	align-items: center;
	width: 80%;
	height: 75px;
}
#menubox ul{
	display: flex;
	justify-content:space-between;
		align-items: center;
	list-style-type:none; /*li才不會有點點*/
}
#menubox li a{
	color: white;
	text-decoration: none; /*超連結的底線不要顯示出來*/
	font-size: 14px;
	padding: 10px;
	font-weight: bold;
}
#menubox li a:hover{ /*hover鼠標滑入 設超連結一定要記得用這個*/
	color: #d9b311; /*游標滑過之後字會變色*/
	transition: 0.5s; /*漸變效果*/
}
.mainimg{
	height: 100vh;
	width: 100%;
	background: url('./../img/backimg.jpg') no-repeat center center;
	background-size: cover; /*滿版效果*/
	background-attachment:fixed;
	display: flex;
	justify-content: center;
	align-items: center; 
}

main{
	display: flex;
	margin: 0 auto;
	width: 80%;
	padding: 50px 0;
}
#doctorImg{
	width: 40%;
}
#doctorIntroduction{
	width: 60%;
}
#doctorImg img{
	width: 350px;
}
#doctorTitle{
	color: #CA9A26;
}
#doctorTitle p{
	font-size: 20px;
}
#doctorTitle h2{
	font-size: 26px;
	font-weight: 700;
}
#introductionLine{
	width: 100%;
	height: 1px;
	background-color: #929292;
	margin: 10px auto;
}
#introductions{
	display: flex;
	padding-top: 20px;
}
#experience h2{
	font-size: 20px;
	font-weight: 500;
	color:#ca9a26;
}
#experience p{
	font-size: 16px;
	color:#54595f;
}
#expertise h2{
	font-size: 20px;
	font-weight: 500;
	color:#ca9a26;
}
#expertise p{
	font-size: 16px;
	color:#54595f;
}
#expertise{
	padding-left: 100px;
}

#certificates{
	width: 100%;
	background: #F3F2F0;	
	padding-bottom: 40px;		
}
#certificateImgs{
	display: flex;
	width: 80%;
	margin: 0 auto;
	padding-top: 60px;
}
.certificateImg{
	margin: 5px;
	width: 33.33%;
}
.certificateImg img{			
	width: 100%;
}

#footer{
	width: 100%;
}
.footerLine{
	width: 150px;
	height: 3px;
	background-color: #d9b311;
	margin: 20px auto; /*順序上右下左 只寫兩個第一個上下第二個左右*/			
}
#contact{
	padding-top: 40px;
	text-align: center;
}
#contact h2{
	font-size: 34px;
	color:#333333;
}
#aboutUs{
	width: 60%;
	display: flex;
	text-align: center;
	justify-content: space-between;
	margin: 0 auto;
} 
#aboutUs p{
	color:#54595F;
}
.footerLine2{
	width: 75%;
	height: 1px;
	background-color: #929292;
	margin: 20px auto; /*順序上右下左 只寫兩個第一個上下第二個左右*/			
}
.footerH2{
	padding-bottom: 10px;
}
#declare{
	width: 75%;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 20px;
}